body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #003366;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.hero {
    background-color: #e6f2ff;
    padding: 80px 20px;
}

.section-title {
    margin-bottom: 30px;
}

.footer {
    background-color: #003366;
    color: white;
    padding: 20px 0;
}

.client-logo {
    width: 150px;
    height: 150px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
}

.client-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-img-bottom {
    transition: transform 0.4s ease;
}

.card-img-bottom:hover {
    transform: scale(1.4);
    cursor: zoom-in;
}
.card-title {
    font-weight: bold;
}