body {
    font-family: 'Open Sans', sans-serif;
}


/* Estado inicial con fondo semi-transparente negro */
#mainNavbar {
  background-color: rgba(0, 0, 0, 0.5); /* oscuro con opacidad */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


#mainNavbar .nav-link {
  color: white !important;
  transition: color 0.3s ease;
}

/* Al hacer scroll: fondo blanco y textos oscuros */
#mainNavbar.navbar-scrolled {
  background-color: white;
  box-shadow: 5px 2px 4px rgba(0,0,0,0.9);
}

#mainNavbar.navbar-scrolled .nav-link {
  color: #333 !important;
}

.text-shadow {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}


.hero {
    background-color: #e6f2ff;
    padding: 80px 20px;
}

.section-title {
    margin-bottom: 30px;
}

.footer {
    background-color: #003366;
    color: white;
    padding: 20px 0;
}

.client-logo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 16px;
  overflow: hidden;
}

.client-logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


.client-name {
  font-size: 14px;
  margin-top: 0.5rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.card-img-bottom {
    width: 100%;
    height: 200px; /* o el alto que prefieras */
    object-fit: cover; /* para que se recorte y rellene sin deformarse */
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    transition: transform 0.4s ease;
}


.card-img-bottom:hover {
    transform: scale(1.0);
    cursor: zoom-in;
}
.card-title {
    font-weight: bold;
    text-align: center;
}

.card-text {
    font-size: 14px;
}

.card-body {
    flex-grow: 1;
    padding: 15px;
}


.mapa {
    height: 500px;
}
.card {
    height: 100%;
    border-radius: 26px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    object-fit: contain !important;
    text-align: center;
}

.carousel-item .row {
    margin: 0;
}


.carousel-indicators {
  margin-top: 40px;
  justify-content: center !important;
}

#carouselClientes {
  position: relative;
  padding-bottom: 90px;
}

.carousel-indicators [data-bs-target] {
  background-color: #003366;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
}

.carousel-indicators .active {
  background-color: #FFA000;
}


/*Aquí están los efectos de giro en las cards*/

.flip-card {
  background-color: transparent;
  width: 100%;
  perspective: 1200px;
  min-height: 420px;
  justify-content: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  min-height: 420px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
  overflow: hidden;
}

.flip-card-front {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*Esto es para mantener el ancho de la nueva card*/

.col-md-3 .flip-card {
  max-width: 100%;
  width: 100%;
}

.flip-card-inner {
  max-width: 280px; /* o el valor que tenía visualmente antes */
  margin: auto;
}


/*Colores personalizados*/

.bg-red {
  background-color: #cc0000 !important;
}

.bg-blue {
  background-color: #1800AD !important;
}

.text-enred {
  color: #d8d7d8 !important;
}

.border-enred {
  border-color: #1800AD  !important;
}
